<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Screen</title>
  </head>
  <body>
    <h1>Admin Screen</h1>
    <h2>Number of tickets: {{ tickets | length }}</h2>
    <table>
      <thead>
        <tr>
          <th onclick="sortTable(0)">ID</th>
          <th onclick="sortTable(1)">Title</th>
          <th onclick="sortTable(2)">Description</th>
          <th onclick="sortTable(3)">Status</th>
          <th onclick="sortTable(4)">Priority</th>
          <th onclick="sortTable(5)">Created At</th>
          <th onclick="sortTable(6)">Updated At</th>
          <th onclick="sortTable(7)">User ID</th>
          <th onclick="sortTable(7)">Username</th>

          <th>View Details</th>
        </tr>
      </thead>
      <tbody>
        {% for ticket in tickets %}
        <tr>
          <td>{{ ticket.id }}</td>
          <td>{{ ticket.title }}</td>
          <td>{{ ticket.description }}</td>
          <td>{{ ticket.status }}</td>
          <td>{{ ticket.priority }}</td>
          <td>{{ ticket.created_at }}</td>
          <td>{{ ticket.updated_at }}</td>
          <td>{{ ticket.user_id }}</td>
          <td>{{ ticket.username }}</td>
          <td>
            <a
              href="{{ url_for('view_individual_ticket.view_ticket', ticket_id=ticket.id, prev_page=request.url) }}"
              class="submit"
              >View more Details</a
            >
          </td>
          {% endfor %}
        </tr>
      </tbody>
    </table>
    <a href="{{ url_for('home.home_screen') }}">Back to Home</a>
    <script src="{{ url_for('static', filename='js/sort_tables.js') }}"></script>
  </body>
</html>
