<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Ticket</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/create_ticket.css') }}"
    />
  </head>
  <body>
    <div class="create-record-container">
      <div class="content-box">
        <h1>Create Ticket</h1>

        {% with messages = get_flashed_messages(with_categories=true) %} {% if
        messages %}
        <div id="flash-messages">
          {% for category, message in messages %} {% if category ==
          'create_ticket_message' %}
          <div class="alert">{{ message }}</div>
          {% endif %} {% endfor %}
        </div>
        {% endif %} {% endwith %}

        <form method="POST" action="/create_ticket">
          <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" required />
          </div>

          <div class="form-group">
            <label for="description">Description:</label>
            <textarea
              id="description"
              name="description"
              rows="5"
              required
            ></textarea>
          </div>

          <div class="form-group">
            <label for="priority">Priority:</label>
            <input
              type="text"
              id="priority"
              name="priority"
              value="Low"
              readonly
            />
          </div>

          <div class="form-group">
            <label for="status">Status:</label>
            <input
              type="text"
              id="status"
              name="status"
              value="Created"
              readonly
            />
          </div>

          <div class="form-group">
            <label for="created_at">Created At:</label>
            <input
              type="text"
              id="created_at"
              name="created_at"
              value="{% if created_at %}{{ created_at }}{% endif %}"
              readonly
            />
          </div>

          <div class="form-group">
            <label for="updated_at">Updated At:</label>
            <input
              type="text"
              id="updated_at"
              name="updated_at"
              value="{% if updated_at %}{{ updated_at }}{% endif %}"
              readonly
            />
          </div>

          <button type="submit">Submit</button>
        </form>

        <a
          href="{{ url_for('home.home_screen') }}"
          class="cancel-button"
          id="cancel-link"
          >Cancel</a
        >
      </div>
    </div>
    <script src="{{ url_for('static', filename='js/exit_record.js') }}"></script>
  </body>
</html>
