<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>Home Page</h1>
    <form action="{{ url_for('create_ticket.create_ticket') }}" method="get">
      <button type="submit">Create a New Ticket</button>
    </form>
    <form action="{{ url_for('view_tickets.view_tickets') }}" method="get">
      <button type="submit">View Tickets</button>
    </form>

    {% if session['role'] == 'admin' %}
    <form action="{{ url_for('home.admin_screen') }}" method="get">
      <button type="submit">Admin - View All Tickets</button>
    </form>
    {% endif %}

    <form action="{{ url_for('login.logout') }}" method="post">
      <button type="submit">Log Out</button>
    </form>
  </body>
</html>
