<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your Tickets</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <h1>My Tickets</h1>
    {% if tickets %}
    <table>
      <thead>
        <tr>
          <th onclick="sortTable(0)">ID</th>
          <th onclick="sortTable(1)">Title</th>
          <th onclick="sortTable(2)">Status</th>
          <th onclick="sortTable(3)">Priority</th>
          <th>Details</th>
        </tr>
      </thead>
      <tbody>
        {% for ticket in tickets %}
        <tr>
          <td>{{ ticket.id }}</td>
          <td>{{ ticket.title }}</td>
          <td>{{ ticket.status }}</td>
          <td>{{ ticket.priority }}</td>
          <td>
            <a
              href="{{ url_for('view_individual_ticket.view_ticket', ticket_id=ticket.id, prev_page=request.url) }}"
              class="submit"
              >View more Details</a
            >
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>You have not submitted any tickets.</p>
    {% endif %}
    <a href="{{ url_for('home.home_screen') }}">Back to Home</a>
    <script src="{{ url_for('static', filename='js/sort_tables.js') }}"></script>
  </body>
</html>
